#startGameModal, #selectBetModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green;
}

#startGameModal .modal-content {
    background-color: white;
    padding: 20px;
}

/* Adjusting card images down */
img {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Mobile styles */
@media (max-width: 767px) {

    img {
        width: 30px;
    }
    /* Other mobile-specific styles */
}

body, html, .container {
    height: 100%;
    margin: 0;
    padding: 0;
}
