#startGameModal, #selectBetModal, #endGameModal {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green;
}

#startGameModal {
    display: flex;
    padding: 20px;
}

#selectBetModal, #endGameModal {
    display: none;
}

/* Adjusting card images down */
img {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Mobile styles */
@media (max-width: 767px) {

    img {
        width: 30px;
    }
    /* Other mobile-specific styles */
}

body, html, .container {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Setting min-width for midInfoRow so that hit/stand buttons and player_score don't shift when dealer_score is hidden */
#midInfoRow {
    min-width: 100px;
}
