<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="../static/styles.css">
<title>Blackjack</title>
</head>
<body style="background-color: green;">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <h2>Dealer's Hand</h2>
                <div id="dealer-hand">
                    <!-- Dealer's cards will be dynamically added here -->
                </div>
                <div id="dealer-score">
                    <!-- Display dealer's score here -->
                </div>
            </div>
            <div class="col-md-6">
                <h2>Player's Hand</h2>
                <div id="player-hand">
                    <!-- Player's cards will be dynamically added here -->
                </div>
                <div id="player-score">
                    <!-- Display player's score here -->
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
</body>
</html>