<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="../static/styles.css">
<title>Blackjack</title>
</head>
<body style="background-color: green;">
    <div class="container text-center">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-6">
                    <h2>Dealer's Hand</h2>
                    <div id="dealer-hand">
                        <!-- Dealer's cards will be dynamically added here -->
                    </div>
                    <div id="dealer-score">
                        <!-- Display dealer's score here -->
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Player's Hand</h2>
                    <div id="player-hand">
                        <!-- Player's cards will be dynamically added here -->
                    </div>
                    <div id="player-score">
                        <!-- Display player's score here -->
                    </div>
                </div>
            </div>

            <!-- Start game modal -->
            <div id="startGameModal" class="modal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <h3>Welcome to Blackjack!</h3>
                        <p>
                            Please hit Start Game below to play.
                        </p>
                        <button id="start-game" class="btn btn-primary">Start Game</button>
                    </div>
                </div>
            </div>
            
            <!-- Betting Modal -->
            <div id="selectBetModal" class="modal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <p>Place your bet. (Current Chips: <span id="player-chips">100</span>)</p>
                        <input id="bet-amount" type="number" placeholder="0"/>
                        <button id="select-bet" class="btn btn-primary">Select Bet Amount</button>
                    </div>
                </div>
            </div>
            
            <!-- End Game Modal -->
            <div id="endGameModal" class="modal">
                <div class="modal-content">
                    <!-- Modal content, showing the game result (win, lose, draw) and options to play again or exit -->
                    <button id="play-again" class="btn btn-warning">Play Again</button>
                    <button id="quit" class="btn btn-warning">Quit</button>
                </div>
            </div>
            
            <!-- Buttons for game actions -->
            <div class="row mt-4">
                <div class="col-md-6">
                    <button id="hit" class="btn btn-success">Hit</button>
                    <button id="stand" class="btn btn-danger">Stand</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>